<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
      <img [src]="default" height="50" class="d-inline-block align-top" alt="Logo da AMcom | Soluções para Negócio" />
  </a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLink]="['/medicamentos']" routerLinkActive="active">Medicamentos</a>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
