.checkbox {
  label {
    margin-bottom: 0;

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

.checkbox {
  .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    top: 5px;

    .cr-icon {
      position: absolute;
      font-size: .8em;
      line-height: 0;
      top: 50%;
      left: 15%;
    }
  }
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}

.jumbotron {
  padding: 1rem 2rem;
}

.table-white {
  background: #fff;
}

.table-white-thead {
  background: #f8fafc;
}

.btn-lg.btn-success {
  margin-right: 1em;
}
